body{
    background-color: cornsilk;
}
.heading{
    font-size: 22.5px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color: black;
}
canvas{
    border: 5px solid darkslategray;
    border-radius: 20px;
}